@charset "UTF-8";


:root{
    --cor0: #daeaf7;
    --cor1: #4fa5d8;
    --cor2: #0855b1;
    --cor3: #010e54;
    --cor4: #00022b;
/*--sombra: rgba(0, 0, 0, 0.836); */
    --sombra: rgba(0, 0, 0, 0.425);

    --fonte-padrao: Arial, Helvetica, sans-serif;   
}

* {
    margin: 0;
    margin: 0;
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    
}

header{
    background-color: var(--cor2);
    text-align: center;
}

header > h1{
    color: white;
    text-shadow: 3px 3px 0px var(--sombra);
    padding: 10px;
}

nav{
    background-color: var(--cor3);
    text-align: center;
}

nav > a{
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

nav > a:hover{
    color: var(--cor1);
    text-decoration: underline;
    transition-duration: 0.3s;
}

nav > a:active{
    color: white;
    text-decoration: underline;
}



main{
    background-color: white;
    padding: 0px 20px 20px 20px;
    min-height:76.7vh;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--sombra);
    border-radius: 0px 0px 10px 10px;
}



main h1{
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.5em;
    text-indent: 50px;
    border-radius: 5px;
    padding: 3px;
    
    

}

   


main p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px ;
    font-size: 1em;
    line-height: 1.5em;

    
}

/* ---------------------------------------------------- */

div#placar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--cor2);
    width: 400px;
    height: 65px;
    margin: auto;

    border-radius: 0px 0px 10px 10px;
    

    border-style: solid;
    border-top: none;
    border-color: var(--cor4);
    border-width: 3px;
    box-shadow: 0px 0px 10px var(--sombra);
    
}

div#placar div{

    font-size: 30px;
    font-weight: bold;
    

    
}

div#acertos{
    color: rgb(0, 216, 0);
    font-size: 30px;
    font-weight: bold;
}

div#erros{
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

div#percen{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/* ---------------------------------------------------- */

div#hiraDisplay, div#kataDisplay{
    margin-top: 50px;
    font-size: 80px;
    font-weight: bolder;
    color: white;   

    display: flex;
    justify-content: center;
    align-items: center;


}

div#telaCaracter{
    background-color: var(--cor1);
    height: 250px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 60px;

    border-style: solid;
    border-color: var(--cor4);
    border-width: 9px;
   
}


div#hiraRight, div#kataRight{
    font-size: 20px;
    font-weight: bolder;
    color: white; 
    margin-top: 30px;  

    display: flex;
    justify-content: center;
    align-items: center;
    

}

/* ---------------------------------------------------- */

input#hiraInput, input#kataInput{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--sombra);

}

input#Confirm{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 150px;
    border-radius: 20px;
    border-style: none;

    background-color: var(--cor2);
    box-shadow: 0px 0px 10px var(--sombra);
    color: white;

    
}

input#BtnSound{
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px var(--sombra);

}

/* ---------------------------------------------------- */

.logo{
    padding-top: 10px;
    width: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background-color: var(--cor4);
    color: white;
    
}