@charset "UTF-8";


:root {
    --cor0: #daeaf7;
    --cor1: #4fa5d8;
    --cor2: #0855b1;
    --cor3: #010e54;
    --cor4: #00022b;
    --sombra: rgba(0, 0, 0, 0.425);
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

}

header {
    background-color: var(--cor2);
    text-align: center;
}

header>h1 {
    color: white;
    text-shadow: 3px 3px 0px var(--sombra);
    padding: 10px;
}

nav {
    background-color: var(--cor3);
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

nav>a {
    color: white;
    text-decoration: none;
    padding: 0px 7px;
}

nav>a:hover {
    color: var(--cor1);
    text-decoration: underline;
    transition-duration: 0.3s;
}

nav>a:active {
    color: white;
    text-decoration: underline;
}



main {
    flex-grow: 1;
    width: 100%;
    background-color: white;
    padding: 0px 20px 20px 20px;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--sombra);
    border-radius: 0px 0px 10px 10px;
}

main a {
    color: var(--cor2);
    background-color: var(--cor0);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 5px;
}

main a:hover {
    color: var(--cor3);
    text-decoration: underline;
}

main strong {
    color: var(--cor2);
    font-weight: bold;
}




main h1 {
    color: white;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-shadow: 2px 2px 2px var(--sombra);
    border-style: outset;
    border-color: white;
    font-size: 1.7em;
    text-indent: 1.2em;
    line-height: 2em;
    border-radius: 5px;

}


main h2 {
    background-color: var(--cor1);
    color: white;
    text-shadow: 2px 2px 2px var(--sombra);
    border-style: outset;
    border-color: var(--cor1);


    font-size: 1.1em;
    text-indent: 1.2em;
    line-height: 2em;
    border-radius: 5px;


}



@media screen and (max-width: 520px) {
    main h1 {
        font-size: 1.3em;
    }

    main h2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 400px) {


    nav {
        font-size: 1em;
    }

    main h1 {
        font-size: 1em;
    }

    main h2 {
        font-size: 1em;
    }

    footer{
        font-size: 0.73em;
    }
}


main p {
    margin: 10px 0;
    text-align: justify;
    text-indent: 1.2em;
    font-size: 1em;
    line-height: 1.5em;

}

.imgTutorialContainer p {
    text-align: center;
    margin: 15px 0px;
}

.imgTutorialContainer img {
    display: block;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}


.btnTutorial {
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px var(--sombra);
}

/* ---------------------------------------------------- */

.scoreboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--cor2);
    width: 300px;
    height: 65px;
    margin: auto;

    border-radius: 0px 0px 10px 10px;


    border-style: solid;
    border-top: none;
    border-color: var(--cor4);
    border-width: 3px;
    box-shadow: 0px 0px 10px var(--sombra);

}

.scoreboard div {

    font-size: 30px;
    font-weight: bold;



}

div#acertos {
    color: rgb(0, 216, 0);
    font-size: 30px;
    font-weight: bold;
}

div#erros {
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

div#percen {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/* ---------------------------------------------------- */

.charDisplay {
    margin-top: 50px;
    font-size: 80px;
    font-weight: bolder;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;


}

.charContainer {
    background-color: var(--cor1);
    height: 250px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 60px;

    border-style: solid;
    border-color: var(--cor4);
    border-width: 9px;

}


.charAnswerDisplay {
    font-size: 20px;
    font-weight: bolder;
    color: white;


    display: flex;
    justify-content: center;
    align-items: center;


}

/* ---------------------------------------------------- */

.answerInput {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--sombra);

}

.btnControl {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 150px;
    border-radius: 20px;
    border-style: none;

    background-color: var(--cor2);
    box-shadow: 0px 0px 10px var(--sombra);
    color: white;


}

.btnSound {
    display: none;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px var(--sombra);

}

.visible{
    display: block !important;
}

/* ---------------------------------------------------- */

.logo {
    padding-top: 10px;
    width: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background-color: var(--cor4);
    color: white;

}

footer a {
    color: white;
    text-decoration: none;
}